[submodule "nftgem-ui"]
path = nftgem-ui
url = git@github.com:nftgem/nftgem-ui.git

[submodule "nftgem-subgraph"]
	path = nftgem-subgraph
	url = git@github.com:nftgem/nftgem-subgraph.git
[submodule "bitgem-ui"]
	path = bitgem-ui
	url = git@github.com:nftgem/bitgem-ui.git
[submodule "subgraphs/bitgem-subgraph"]
	path = subgraphs/bitgem-subgraph
	url = git@github.com:nftgem/bitgem-subgraph
[submodule "subgraphs/swapmeet-subgraph"]
	path = subgraphs/swapmeet-subgraph
	url = git@github.com:nftgem/swapmeet-subgraph
[submodule "subgraphs/lootbox-subgraph"]
	path = subgraphs/lootbox-subgraph
	url = git@github.com:nftgem/lootbox-subgraph
[submodule "subgraphs/--name"]
	path = subgraphs/sub
	url = git@github.com:nftgem/bitgemv0-subgraph
[submodule "subgraphs/v1-subgraph"]
	path = subgraphs/v1-subgraph
	url = git@github.com:nftgem/bitgemv1-subgraph
[submodule "subgraphs/v0-subgraph"]
	path = subgraphs/v0-subgraph
	url = git@github.com:nftgem/bitgemv0-subgraph
[submodule "subgraphs/bitlootboxv1-subgraph"]
	path = subgraphs/bitlootboxv1-subgraph
	url = git@github.com:nftgem/bitlootboxv1-subgraph
