<li class="nav-item">
  <button
    class="btn btn-primary nav-link active"
    (click)="connectWallet()"
    type="button"
    style="
      margin-left: 16px;
      font-size: 18px;
      text-shadow: 0px 0px 4px;
      color: {{ buttonColor }};
      font-family: Pixelated;
      text-shadow: 0px 0px 3px;
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
    "
  >
  {{ buttonCaption }}
  </button>
</li>
