<div class="col">

  <div class="input-group"><div class="input-group-prepend"><span class="input-group-text" style="color: var(--bs-dark) !important; font-family: Pixelated; font-weight: bold;">convert X</span></div>

      <input type="text" formcontrolname="quantity" value="1" class="form-control" style="background: #f4ed47; font-family: Pixelated; border-style: solid; border-color: var(--bs-dark); padding-left: 12px;"/>

      <div class="input-group-append"><span class="input-group-text" style="color: var(--bs-dark) !important; font-family: Pixelated; font-weight: bold;">of</span></div>

      <select style="color: var(--bs-dark) !important; font-family: Pixelated; font-weight: bold;"><option>Value</option></select>

      <div class="input-group-append"><span class="input-group-text" style="color: var(--bs-dark) !important; font-family: Pixelated; font-weight: bold;">into ERC20</span></div>

  <div class="input-group-append"><button type="button" class="btn btn-primary" style="font-family: Pixelated; text-shadow: 0px 0px 3px; margin-right: 10px;"> Convert </button></div></div>


  </div>
