<div style="min-height: 60px;text-align: justify;">
  <div class="row" style="margin-top: 40px;">
      <div class="col">
          <div style="min-height: 40px;text-align: center;">
            <a href="https://twitter.com/nft_gem" target="_blank"><img src="assets/img/twitter.gif" class="mr-1" style="width: 60px"></a>
            <a href="https://github.com/nftgem" target="_blank"><img src="assets/img/github.gif" class="mr-1" style="width: 60px"></a>
          </div>
      </div>
  </div>
</div>
