<app-section-header title="Swaps"></app-section-header>
<app-not-connected-panel></app-not-connected-panel>
<div style="min-height: 40px;text-align: justify;">
  <div class="row">
    <div class="col">

      <h1 style="font-family: Pixelated;font-size: 18px;">Convert gems to ERC20 Wrapped tokens</h1>
      Use this form to convert your gems to wrapped ERC20. Please note that while this does let you trade and transact Gems in ERC20 markets,
      this process will not return you the specific gem you used in the wrapping process.
      <app-convert-gem type="wrap"></app-convert-gem>

      <h1 style="font-family: Pixelated;font-size: 18px;">Unwrap Wrapped ERC20 gems</h1>
      Use this form to convert your wrapped ERC20 gems back into native erc1155 gems. Please note that this process will not return you the specific gem you used in the wrapping process.
      <app-convert-gem type="unwrap"></app-convert-gem>

      <div class="col">
          <div style="min-height: 40px;text-align: justify;color: #d8ed96;font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">
            <p>
              Bitgems aren't just pretty digital items stuck in the gems tab of this site! Gems, claims, and governance tokens are all implemented
              as ERC1155 token types on top of the ERC155 multitoken that powers the system.
            </p>
            <p>
              This means that you can send them to someone just as you would with any other NFT. This includes claims - making a bitgem claim a
               bearer bond of sorts, redeemable by its holder for the deposited tokens it points to.
            </p><p>
              To make it even easier transact any bitgem claim, gem or governance token, everything is enabled to be transacted on OpenSEA
              using zero gas fees, making buying and selling both claims and gems a simple and inexpensive matter.
            </p><p>
              Bitgem also include an additional means of interoperating with decentralized markets. Each gem is wrappable and convertible into an ERC20
              token equivalent. These 'fungized' gem tokens, unlike gems themselves, are fungible to four decimal places.  The only downside with using
              fungized erc20 gem tokens is that all gems are treated as having equivalent value and you wont get back the same gem that you fungized.
            </p><p>
              User interfaces to fungize gems into ERC20 and convert governance tokens to their wrapped ERC20 equivalents will be online within a few days.
            </p>
        </div>
      </div>

  </div>
</div>
