<form [formGroup]="poolForm">
  <div
    class="row form-group"
    style="
      margin-bottom: 10px;
      margin-top: 10px;
      padding-top: 16px;
      padding-bottom: 16px;
      border-radius: 8px;
      background: #002868;
    "
  >
    <div class="col-1">
      <div></div>
      <img
        src="assets/img/{{ blockchainService.gemPic(symbol) }}"
        style="height: 120px"
      />
    </div>
    <div class="col-3" style="padding-left: 30px">
      <h1
        style="
          color: var(--bs-yellow);
          font-family: Pixelated;
          text-shadow: 0px 0px 4px;
          font-size: 20px;
        "
      >
        {{ name }} ({{ symbol }})
      </h1>
      <div>

      </div>
      <span
        style="
            color: var(--bs-cyan);
            font-family: Pixelated;
            text-shadow: 0px 0px 7px;
        "
      >
      diff: {{ difficulty | number: '1.8' }}%
      </span>

      <div>
        <span
          style="
            color: var(--bs-cyan);
            font-family: Pixelated;
            text-shadow: 0px 0px 7px;
          "
          >x{{ mintedCount }} mined</span
        >
      </div>
      <div>
        <span
          style="
            color: var(--bs-cyan);
            font-family: Pixelated;
            text-shadow: 0px 0px 7px;
          "
          >x{{ claimedCount }} claims</span
        >
      </div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="col-4">
      <div>
        <h1
          style="
            color: var(--bs-cyan);
            font-family: Pixelated;
            text-shadow: 0px 0px 4px;
            font-size: 15px;
          "
        >
        <!--<img *ngIf="_tokenData" [src]="'https://www.cryptocompare.com' + _tokenData.image" class="mr-1 mb-1" style="width: 20px">--> using {{ tokenData ? tokenData.symbol : blockchainService.COIN }} @ {{ tokenConversionRate.toFixed(4) }}/{{blockchainService.COIN}}
        </h1>
      </div>

      <div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span
              class="input-group-text"
              style="
                color: var(--bs-black);
                font-family: Pixelated;
              "
              id="basic-addon1"
              >time</span
            >
          </div>
          <input
            class="form-control"
            (keyup)="inputLengthChange($event)"
            type="number"
            formControlName="length"
            value="Target Length in Days"
            style="
              background: #f4ed47;
              font-family: Pixelated;
              color: var(--bs-dark);
              border-color: var(--bs-dark);
              padding-left: 6px;
            "
          />
          <div class="input-group-append">
            <span
              class="input-group-text"
              style="
                color: var(--bs-black);
                font-family: Pixelated;
              "
              id="basic-addon1"
              >days</span
            >
          </div>
        </div>
      </div>
      <div style="margin-top: 3px">
        <div class="input-group">
          <div class="input-group-prepend">

            <ng-template #rt let-r="result" let-t="term">
              <!-- <img [src]="'https://www.cryptocompare.com' + r['image']" class="mr-1" style="width: 20px"> -->
              <ngb-highlight style="
              color: var(--bs-black);
              font-family: Pixelated;
            " [result]="r.name" [term]="t"></ngb-highlight>
            </ng-template>

            <span
              class="input-group-text"
              *ngIf="!showTokenInput"
              style="
                color: var(--bs-black);
                font-family: Pixelated;
              "
              id="basic-addon1"
              >price</span
            >
          </div>

          <input
            *ngIf="showTokenInput"
            style="
              background: #f4ed47;
              font-family: Pixelated;
              border-style: solid;
              border-color: var(--bs-dark);
              padding-left: 6px;
            "
            id="typeahead-template"
            type="text"
            placeholder="enter token name or address"
            formControlName="token"
            (selectItem)="tokenSelected($event)"
            class="form-control"
            [ngbTypeahead]="search"
            [resultTemplate]="rt"
            [inputFormatter]="formatter" />

          <input
            class="form-control"
            (keyup)="inputPriceChange($event)"
            type="number"
            [min]="minDays"
            [max]="maxDays"
            *ngIf="!showTokenInput"
            formControlName="price"
            value="Target Claim Price"
            style="
              background: #f4ed47;
              font-family: Pixelated;
              border-style: solid;
              border-color: var(--bs-dark);
              padding-left: 6px;
            "
          />

          <div class="input-group-append">
            <button
              class="btn btn-primary"
              (click)="tokenInputClicked()"
              type="button"
              style="
                font-family: Pixelated;
                text-shadow: 0px 0px 3px;
              "
            >
              {{tokenButtonText}}
            </button>
          </div>
        </div>
      </div>
      <div style="margin-top: 3px">
        <h1
        *ngIf="badTokenSymbol"
        style="
          color: var(--bs-red);
          font-family: Pixelated;
          text-shadow: 0px 0px 4px;
          font-weight: bold;
          font-size: 14px;
        "
      >Not on Uniswap</h1>
      </div>
    </div>
    <div class="col-4">
      <div>
        <h1
          style="
            color: {{ priceColor }};
            font-family: Pixelated;
            text-shadow: 0px 0px 4px;
            font-size: 17px;
          "
        >
          {{ poolForm.controls.price.value | number: '1.4' }} {{ tokenData ? tokenData.symbol : blockchainService.COIN }} <span *ngIf="_tokenData">({{ poolForm.controls.price.value / tokenConversionRate | number: '1.4' }} {{ blockchainService.COIN }})</span>
        </h1>
        <h2 style="
        color:  {{priceColor }};
        font-family: Pixelated;
        text-shadow: 0px 0px 4px;
        font-size: 17px;
      ">length: {{ poolForm.controls.length.value }} {{ dayTerm }}</h2>
      </div>
      <div class="float-end" style="margin-top: 20px">
        <div class="input-group">
          <div class="input-group-prepend">
            <span
            class="input-group-text"
            style="
              color: var(--bs-black) !important;
              font-family: Pixelated;
              font-weight: bold;
            "
            id="basic-addon1"
            >X</span>
          </div>
          <input
            class="form-control"
            type="text"
            formControlName="quantity"
            value="1"
            style="
              background: #f4ed47;
              font-family: Pixelated;
              border-style: solid;
              border-color: var(--bs-dark);
              padding-left: 12px;
            "
          />
          <div class="input-group-append">
            <button
              class="btn btn-primary"
              (click)="handleActionClick()"
              [disabled]="true"
              type="button"
              style="
                font-family: Pixelated;
                text-shadow: 0px 0px 3px;
                margin-right: 10px;
              "
            >
              {{ needsApproval ? 'Approve' : 'Stake' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
