<div *ngIf="blockchainService.isLoading" class="row" style="margin-top: 10px;">
  <div class="col">
      <div style="min-height: 40px;text-align: center;"><span role="status" class="spinner-border spinner-border-sm" style="font-size: 24px;width: 32px;height: 32px;"></span></div>
  </div>
</div>

<div *ngFor="let gem of blockchainService.gemsList">
  <app-gem [gem]="gem"></app-gem>
</div>

<div *ngIf="blockchainService.connected && !blockchainService.isLoading && blockchainService.gemsList.length ===0" class="row" style="margin-top: 30px; text-align:center;">
  <div class="col">
      <span style="
      color: var(--bs-orange);
      font-family: Pixelated;
      text-shadow: 0px 0px 4px;
      font-size: 22px;
    ">You have no bitgems.</span>
  </div>
</div>
