<app-section-header title="governance"></app-section-header>
<app-not-connected-panel></app-not-connected-panel>
<div style="min-height: 40px;text-align: justify;">
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;color: #d8ed96;font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">
            <h2>How governance works</h2>
            <p>
              <span style="color: var(--bs-red);font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">bitgem governance tokens,
                just like bitgems, are earned.</span> the bitgem protocol randomly issues governance tokens to those using the system.
            </p>
            <p>
              once armed with some bitgem governance tokens, users can vote on newly-added governance proposals.
              Anyone can file a governance proposal.
            </p>
            <p>
              Once created, proposals can only be voted on once funded at a cost of one ETH. Anyone can fund a proposal.
            </p>
            <p>
              Once funded, proposals are voted on by governance token holders - one token, one vote. More than 50% votes in favor automatically
              pass the proposal.
            </p>
            <p>
              The proposal can then be executed. Anyone can initiate execution of a proposal once it has passewd, and whether a proposal has passed or not,
              the funder receives their Ethereum back.
            </p>
            <p>
              If a proposal does pass and it is a gem pool addition proposal, then the proposal
              initiator and the proposal funder both get the first and second gems of the new gem pool minted to them as a reward.
            </p>
              Governance proposal types include:
              <ol>
                <li>add a gem pool</li>
                <li>fund a project</li>
                <li>change pool fees</li>
                <li>modify pool tokenlist</li>
              </ol>
              <p>
                A governance UI will be available here within about two weeks from launch. This interface will allow anyone to submit proposals,
                and governance-token holders to vote on those proposals.
              </p>
        </div>
      </div>
  </div>
</div>
