@font-face {
    font-family: 'Press Start 2P';
    src: url(../../assets/fonts/PressStart2P-Regular.woff2) format('woff2'),
        url(../../assets/fonts/PressStart2P-Regular.woff) format('woff'),
        url(../../assets/fonts/PressStart2P-Regular.svg#PressStart2P-Regular) format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

