<app-section-header title="welcome"></app-section-header>
<div style="min-height: 40px;text-align: justify;">
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;">
            <span style="color: #d8ed96;font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">
              <span style="color: rgb(236, 50, 130);font-family: Pixelated;font-size: 24px;text-shadow: 0px 0px 3px;">
                bitgems are digital jewels.</span>
                <span style="color:var(--bs-teal);font-family: Pixelated;text-shadow: 0px 0px 3px;">To mine them stake Ethereum or any ERC20 token to receive a claim.</span> Redeem your claim after the maturity date for a gem and your tokens back. Or anytime before maturity to get your tokens back. Each gem found raises the price to stake the next gem.<br></span></div>
      </div>
  </div>
</div>
<app-not-connected-panel></app-not-connected-panel>
<app-section-header *ngIf="blockchainService.gemPools && blockchainService.gemPools.length" title="bitgem pools"></app-section-header>
<app-pool-list [limit]="3"></app-pool-list>
