<app-section-header title="FAQ"></app-section-header>
<div style="min-height: 40px;text-align: justify;">
  <div class="row" style="margin-top: 40px;">
      <div class="col">
          <div style="min-height: 40px;text-align: center;"><span style="color: var(--bs-cyan);font-family: Pixelated;font-size: 28px;text-shadow: 0px 0px 3px;">what is bitgem?</span></div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;"><span style="color: var(--bs-teal);font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">bitgems are nft's that are earned by staking ETHEREUM or any ERC20 token of value. bitgems are limited in quantity and become progressively harder to earn over time, just like real gems. <br></span></div>
      </div>
  </div>
</div>
<div style="min-height: 40px;text-align: justify;">
  <div class="row" style="margin-top: 40px;">
      <div class="col">
          <div style="min-height: 40px;text-align: center;"><span style="color: var(--bs-cyan);font-family: Pixelated;font-size: 28px;text-shadow: 0px 0px 3px;">how does bitgem work?</span></div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;"><span style="color: var(--bs-teal);font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">bitgem WORKS BY LETTING YOU STAKE YOUR TOKENS OR ETHEREUM TO EARN AN NFT GEM. EACH TIME SOMEONE EARNS A GEM BY SUBMITTING A MATURE CLAIM, THE STAKE NEEDED TO CLAIM THE NEXT GEM INCREASES IN PRICE. YOU CAN BUY AS MANY CLAIMS AS YOU WANT AT THE LISTED PRICE. eACH CLAIM HAS A MINIMUM AND MAXIMUM STAKING PERIOD YOU CAN SELECT, AND THE LONGER YOUR CLAIM MATURITY PERIOD IS, THE LESS YOU NEED TO STAKE. YOUR TOKENS ARE HELD IN YOUR CLAIM UNTIL YOU COLLECT IT, WHICH YOU CAN DO AT ANY TIME, BUT COLLECTING A CLAIM BEFORE IT MATURES WILL NOT EARN YOU A gem.<br><br></span></div>
      </div>
  </div>
</div>
<div style="min-height: 40px;text-align: justify;">
  <div class="row" style="margin-top: 40px;">
      <div class="col">
          <div style="min-height: 40px;text-align: center;"><span style="color: var(--bs-cyan);font-family: Pixelated;font-size: 28px;text-shadow: 0px 0px 3px;">how can I earn a bitgem?<br></span></div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;"><span style="color: var(--bs-teal);font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">bitgems are earned by creating a staking claim. to create a staking claim, pick the gem you want to earn and the amount of time you want to wait to earn it (longer claims require less capital to stake with. once the claim is mature, collect your claim to receive your principal back along with a new gem! <br></span></div>
      </div>
  </div>
</div>
<div style="min-height: 40px;text-align: justify;">
  <div class="row" style="margin-top: 40px;">
      <div class="col">
          <div style="min-height: 40px;text-align: center;"><span style="color: var(--bs-cyan);font-family: Pixelated;font-size: 28px;text-shadow: 0px 0px 3px;">is my money locked until my claim matures?<br></span></div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;"><span style="color: var(--bs-teal);font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">no! if you need to break a claim for whatever reason, you can do so with no penalty. you'll receive 100% of your deposited funds back immediately, no questions asked.<br></span></div>
      </div>
  </div>
</div>
<div style="min-height: 40px;text-align: justify;">
  <div class="row" style="margin-top: 40px;">
      <div class="col">
          <div style="min-height: 40px;text-align: center;"><span style="color: var(--bs-cyan);font-family: Pixelated;font-size: 28px;text-shadow: 0px 0px 3px;">how much does it cost to earn a bitgem?<br></span></div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;"><span style="color: var(--bs-teal);font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">creating a bitgem staking claim amd breaking a bitgem claim early is free. redeeming a mature claim applies a 0.1% fee incurred on your principal deposit applied when your deposit and bitgem are sent to you.<br></span></div>
      </div>
  </div>
</div>
<div style="min-height: 40px;text-align: justify;">
  <div class="row" style="margin-top: 40px;">
      <div class="col">
          <div style="min-height: 40px;text-align: center;"><span style="color: var(--bs-cyan);font-family: Pixelated;font-size: 28px;text-shadow: 0px 0px 3px;">what are bitgems good for?<br></span></div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;"><span style="color: var(--bs-teal);font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">what is bitcoin good for? bitgems are an experiment in non-fungible digital scarcity. bitgems are bitcoins missing jewels - digital artifacts that bear the collected value of all the staking activity of those that transact them, just like bitcoin.<br></span></div>
      </div>
  </div>
</div>
<div style="min-height: 40px;text-align: justify;">
  <div class="row" style="margin-top: 40px;">
      <div class="col">
          <div style="min-height: 40px;text-align: center;"><span style="color: var(--bs-cyan);font-family: Pixelated;font-size: 28px;text-shadow: 0px 0px 3px;">is my money safe?<br></span></div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;"><span style="color: var(--bs-teal);font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">bitgem is a secure and decentralized protocol, designed to ensure that funds banked within its contracts cannot be withdrawn by anyone except the claim holder. Nobody else can access your tokens except you. independent audits are being performed on bitgem to ensure your funds are safe.<br></span></div>
      </div>
  </div>
</div>
<div style="min-height: 40px;text-align: justify;">
  <div class="row" style="margin-top: 40px;">
      <div class="col">
          <div style="min-height: 40px;text-align: center;"><span style="color: var(--bs-cyan);font-family: Pixelated;font-size: 28px;text-shadow: 0px 0px 3px;">what do fees go towards?<br></span></div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;"><span style="color: var(--bs-teal);font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">fees incurred on mined bitgems are distributed to the larger community via bitgem governance and project funding proposals. Anyone can file a proposal. bitgem governance token holders then vote on proposals. proposals that are accepted by governance are automatically funded.<br></span></div>
      </div>
  </div>
</div>
<div style="min-height: 40px;text-align: justify;">
  <div class="row" style="margin-top: 40px;">
      <div class="col">
          <div style="min-height: 40px;text-align: center;"><span style="color: var(--bs-cyan);font-family: Pixelated;font-size: 28px;text-shadow: 0px 0px 3px;">where can I buy bitgem governance tokens?<br></span></div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;"><span style="color: var(--bs-teal);font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">you can't. bitgem governance tokens are earned by creating and collecting on claims, and just like bitgems, bitgem governance tokens get harder and harder to find as time goes on.<br></span></div>
      </div>
  </div>
</div>
<div style="min-height: 40px;text-align: justify;">
  <div class="row" style="margin-top: 40px;">
      <div class="col">
          <div style="min-height: 40px;text-align: center;"><span style="color: var(--bs-cyan);font-family: Pixelated;font-size: 28px;text-shadow: 0px 0px 3px;">what tokens can I stake to earn bitgems?<br></span></div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;"><span style="color: var(--bs-teal);font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">you can stake ethereum or any erc20 token with value (the token needs to have a uniswap pool and healthy liquidity (100x reserves of your staked amount in reserve in uniswap) in order to be eligible.<br></span></div>
      </div>
  </div>
</div>
<div style="min-height: 40px;text-align: justify;">
  <div class="row" style="margin-top: 40px;">
      <div class="col">
          <div style="min-height: 40px;text-align: center;"><span style="color: var(--bs-cyan);font-family: Pixelated;font-size: 28px;text-shadow: 0px 0px 3px;">is there source code I can look at?<br></span></div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;"><span style="color: var(--bs-teal);font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">yes! bitgem contract code is publicly available for review in our github.<br></span></div>
      </div>
  </div>
</div>
<div style="min-height: 40px;text-align: justify;">
  <div class="row" style="margin-top: 40px;">
      <div class="col">
          <div style="min-height: 40px;text-align: center;"><span style="color: var(--bs-cyan);font-family: Pixelated;font-size: 28px;text-shadow: 0px 0px 3px;">This is awesome! Can I help somehow?<br></span></div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div style="min-height: 40px;text-align: justify;"><span style="color: var(--bs-teal);font-family: Pixelated;font-size: 18px;text-shadow: 0px 0px 3px;">yes! come join us over in our discord to join the fun. we regularly release bounty tasks for our community to participate in and we reward you with gems and bitgem governance tokens.<br><br></span></div>
      </div>
  </div>
</div>
